
<section class="user">
    <h1> <%= @user.name.capitalize %> </h1>
    <h2> <%= mail_to(@user.email) %> </h2>
</section>


<div class="actions">
    <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
    <%= link_to 'Delete Account', @user, method: :delete,
                data: { confirm: "Permently delete your account!? "}, 
                class: "button delete" %>
</div>
