  <header>
  <nav>
    <%= link_to(image_tag("logo"), root_path) %>
    <ul class="left">
      <li>
        <div> <%= link_to("All Movies", movies_path) %></div>
      </li>
    </ul>
    <ul class="right">
      <li>
        <%= link_to("Sign Up", signup_path) %>
      <li>
    </ul>
  </nav>
</header>